.input{
    width:50%;
    margin-left: 28%;
}
.label{
    color:white !important;
    margin-left: 28%;
}
.logo2{
    margin-left: 48%;
    
}
.btnSubmit{
    margin-left: 50%;
    margin-top:2%;
    margin-bottom:2%;
}

.contenedorFavoritos{
    padding:20px;
    
}