.logo1{
    Width :126,81px;
    Height: 84px;
    margin-bottom: 10px;
    }

.formulario{
    padding-top:10px;
    margin-left: 20%;
    margin-right:20%;
}

.input1{
text-align: center;
}

.container1{
text-align:center;
padding:20px;
}


.color{
    color: white !important;
}